:javascript
 $(document).ready( function() {
    var oTable = $('#taskTable').dataTable( {
        "aaSorting": [[ 2, "desc" ]]
    });
    $('#addNewButton').click(function() {
    fnClickAddRow();
  })


 oTable.$('td').editable(function(value, settings) {

   var aPos = oTable.fnGetPosition(this); //gets xy position in table
   var name = $('#taskTable thead tr th:eq(' + aPos[1] + ')').attr('id');
   var id = this.parentNode.getAttribute('id');  //id the id of the row

   var data = {};
   data[name] = value;

   var taskdata = {task : data};

   $.ajax({
       type: 'PUT',
       url: 'tasks/' + id + '.json',
       data : taskdata,
   });

       return(value);

    }, {
        indicator : 'Saving...',
        tooltip   : 'Click to edit...',
        "height": "14px",
        "width": "100%"

      });

 });

 function fnClickAddRow() {

     var d = new Date();

     $('#taskTable').dataTable().fnAddData( [


     "project name", "task name", d, 8, "working from javascript", "", "", "", "", "" ]);



      var testdata = {task : {"project_name" : "foobar", "hours" : 8, "notes" : "working from javascript", "performed_on": d.toISOString()}}

      $.ajax({
          type: 'POST',
          url: 'tasks.json',
          data : testdata,
      });

  }


.page-header
 %h1 #{@user.name}'s Completed Tasks


.row.span12
 %button.btn.btn-primary#addNewButton Add New Task

.row.span12

 %table.table.table-striped.table-bordered.table-condensed#taskTable
  %thead
   %tr
    %th{:id=>"project_name"} Project name
    %th{:id=>"task_name"} Task name
    %th{:id=>"performed_on"} Completed on
    %th{:id=>"hours"} Hours
    %th{:id=>"notes"} Notes
    %th
  %tbody
   - @tasks.each do |task|
    %tr{:id=>task.id}
     %td= task.project_name
     %td= task.task_name
     %td= task.performed_on
     %td= task.hours
     %td= task.notes
     %td= link_to 'Delete', task, confirm: 'Are you sure?', method: :delete


.result
