:javascript
 $(document).ready( function() {
 var oTable = $('#taskTable').dataTable();
 $('#addNewButton').click(function() {
  fnClickAddRow();
  })


    /* Apply the jEditable handlers to the table */
    oTable.$('td').editable( 'tasks/63.json', {
             indicator : 'Saving...',
             tooltip   : 'Click to edit...',
        method : "PUT",
        "callback": function( sValue, y ) {
            //var aPos = oTable.fnGetPosition( this );
            //oTable.fnUpdate( sValue, aPos[0], aPos[1] );
        },
        "submitdata": function ( value, settings ) {
            console.log(this.parentNode.getAttribute('id'));
            console.log(oTable.fnGetPosition( this )[2]);
              var testdata = {task : {"project_name" : "foobar", "hours" : 8, "notes" : "working edit from jeditable"}}

              return testdata;
        },
        "height": "14px",
        "width": "100%"
    } );

 });

 function fnClickAddRow() {

    var d = new Date().toISOString();

 $('#taskTable').dataTable().fnAddData( [


 "foobar", "", d, 8, "working from javascript", "admin", "foo@bar.com", "", "", "" ]);



  var testdata = {task : {"project_name" : "foobar", "hours" : 8, "notes" : "working from javascript", "performed_on": d}}

  $.ajax({
  type: 'POST',
  url: 'tasks.json',
  data : testdata,
  });

   //$('#taskTable').dataTable().fnReloadAjax();

  }




.page-header
 %h1 #{@user.name}'s Completed Tasks


.row.span12
 %button.btn.btn-primary#addNewButton Add New Task

.row.span12

 %table.table.table-striped.table-bordered.table-condensed#taskTable
  %thead
   %tr
    %th Project name
    %th Task name
    %th Completed on
    %th Hours
    %th Notes
    %th
  %tbody
   - @tasks.each do |task|
    %tr{:id=>task.id}
     %td.editable= task.project_name
     %td= task.task_name
     %td= task.performed_on
     %td= task.hours
     %td= task.notes
     %td= link_to 'Delete', task, confirm: 'Are you sure?', method: :delete


.result
