<h1>Listing tasks</h1>

<table>
  <tr>
    <th>Project name</th>
    <th>Task name</th>
    <th>Performed on</th>
    <th>Hours</th>
    <th>Notes</th>
    <th>User</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @tasks.each do |task| %>
  <tr>
    <td><%= task.project_name %></td>
    <td><%= task.task_name %></td>
    <td><%= task.performed_on %></td>
    <td><%= task.hours %></td>
    <td><%= task.notes %></td>
    <td><%= task.user %></td>
    <td><%= link_to 'Show', task %></td>
    <td><%= link_to 'Edit', edit_task_path(task) %></td>
    <td><%= link_to 'Destroy', task, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Task', new_task_path %>
