:javascript
 var oTable;
 var nEditing = null;
 $(document).ready( function() {
    oTable = $('#taskTable').dataTable( {
        "aaSorting": [[ 3, "desc" ], [ 0, "desc" ]]
    });

    $('#addNewButton').click(function() {
     fnClickAddRow();
    });

 $('#taskTable a.edit').live('click', function (e) {
        e.preventDefault();

        /* Get the row as a parent of the link that was clicked on */
        var nRow = $(this).parents('tr')[0];

        if ( nEditing !== null && nEditing != nRow ) {
            /* A different row is being edited - the edit should be cancelled and this row edited */
            restoreRow( oTable, nEditing );
            editRow( oTable, nRow );
            nEditing = nRow;
        }
        else if ( nEditing == nRow && this.innerHTML == "Save" ) {
            /* This row is being edited and should be saved */
            saveRow( oTable, nEditing );
            nEditing = null;
        }
        else {
            /* No row currently being edited */
            editRow( oTable, nRow );
            nEditing = nRow;
        }
    } );

 });


 function editRow ( oTable, nRow )
 {
    var aData = oTable.fnGetData(nRow);
    var jqTds = $('>td', nRow);
    jqTds[1].innerHTML = '<input type="text" value="'+aData[1]+'">';
    jqTds[2].innerHTML = '<input type="text" value="'+aData[2]+'">';
    jqTds[3].innerHTML = '<input type="text" value="'+aData[3]+'">';
    jqTds[4].innerHTML = '<input type="text" value="'+aData[4]+'">';
    jqTds[5].innerHTML = '<input type="text" value="'+aData[5]+'">';
    jqTds[6].innerHTML = '<a class="edit" href="">Save</a>';
 }

 function saveRow ( oTable, nRow )
 {
    var jqInputs = $('input', nRow);
    oTable.fnUpdate( jqInputs[0].value, nRow, 1, false );
    oTable.fnUpdate( jqInputs[1].value, nRow, 2, false );
    oTable.fnUpdate( jqInputs[2].value, nRow, 3, false );
    oTable.fnUpdate( jqInputs[3].value, nRow, 4, false );
    oTable.fnUpdate( jqInputs[4].value, nRow, 5, false );
    oTable.fnUpdate( '<a class="edit" href="">Edit</a>', nRow, 6, false );
    oTable.fnDraw();

    var taskdata = {task : {"project_name" : jqInputs[0].value, "task_name" : jqInputs[1].value, "performed_on": jqInputs[2].value, "hours" : jqInputs[3].value, "notes" : jqInputs[4].value}};

    var id = nRow.getAttribute('id');  //row id (also in column 0)

    $.ajax({
       type: 'PUT',
       url: 'tasks/' + id + '.json',
       data : taskdata,
     });

 }

 function restoreRow ( oTable, nRow )
 {
    var aData = oTable.fnGetData(nRow);
    var jqTds = $('>td', nRow);
    jqTds[1].innerHTML = aData[1];
    jqTds[2].innerHTML = aData[2];
    jqTds[3].innerHTML = aData[3];
    jqTds[4].innerHTML = aData[4];
    jqTds[5].innerHTML = aData[5];
    jqTds[6].innerHTML = '<a class="edit" href="">Edit</a>';
 }



 function fnClickAddRow() {

     var d = new Date();

    var i =  $('#taskTable tbody tr:first')[0];
    var lastRow = $('#taskTable').dataTable().fnGetData(i); //get data from row 0
    if (lastRow == null) {
        lastRow = new Array();
        lastRow[1] = "";
        lastRow[2] = "";
        lastRow[3] = "";
        lastRow[4] = "";
    }


      var testdata = {task : {"project_name" : lastRow[1], "task_name" : lastRow[2], "performed_on": d.toISOString(), "hours" : lastRow[4], "notes" : lastRow[5]}};

      $.ajax({
          type: 'POST',
          url: 'tasks.json',
          data : testdata,
      });

      window.location.reload(true);  //heavy-handed, but otherwise it's a big pain in the arse to get new row editable

  }

.page-header
 %h1 #{@user.name}'s Completed Tasks


.row.span12
 <p>Date: <input type="text" id="datepicker"></p>
 %button.btn.btn-primary#addNewButton Add New Task

.row.span12

 %table.table.table-striped.table-bordered.table-condensed#taskTable
  %thead
   %tr
    %th.hidden Task Id
    %th{:id=>"project_name"} Project name
    %th{:id=>"task_name"} Task name
    %th{:id=>"performed_on"} Completed on
    %th{:id=>"hours"} Hours
    %th{:id=>"notes"} Notes
    %th{:id=>"edit"} Edit
    %th{:id=>"delete"} Delete
  %tbody
   - @tasks.each do |task|
    %tr{:id=>task.id}
     %td.hidden= task.id
     %td= task.project_name
     %td= task.task_name
     %td= task.performed_on
     %td= task.hours
     %td= task.notes
     %td.edit <a class="edit" href="">Edit</a>
     %td= link_to 'Delete', task, confirm: 'Are you sure?', method: :delete


.result
