:javascript
 var oTable;
 var nEditing = null;
 $(document).ready( function() {

 $.fn.dataTableExt.afnFiltering.push(
     function( oSettings, aData, iDataIndex ) {
         var iFini = document.getElementById('datepicker-start').value;
         var iFfin = document.getElementById('datepicker-end').value;
         var iStartDateCol = 3;
         var iEndDateCol = 3;

         iFini=iFini.substring(6,10) + iFini.substring(3,5)+ iFini.substring(0,2)
         iFfin=iFfin.substring(6,10) + iFfin.substring(3,5)+ iFfin.substring(0,2)

         var datofini=aData[iStartDateCol].substring(6,10) + aData[iStartDateCol].substring(3,5)+ aData[iStartDateCol].substring(0,2);
         var datoffin=aData[iEndDateCol].substring(6,10) + aData[iEndDateCol].substring(3,5)+ aData[iEndDateCol].substring(0,2);

         if ( iFini == "" && iFfin == "" )
         {
             return true;
         }
         else if ( iFini <= datofini && iFfin == "")
         {
             return true;
         }
         else if ( iFfin >= datoffin && iFini == "")
         {
             return true;
         }
         else if (iFini <= datofini && iFfin >= datoffin)
         {
             return true;
         }
         return false;
     }
 );

    oTable = $('#taskTable').dataTable( {
    	"sDom": '<"clear">lfrtTip',
        "aaSorting": [[ 3, "desc" ], [ 0, "desc" ]]
    });

    $( "#datepicker-start" ).datepicker ( {
      dateFormat: 'yy-mm-dd',
      "onSelect": function(date) {

      oTable.fnDraw();
      }
       } ).keyup( function () {
      oTable.fnDraw();
     } );

    $( "#datepicker-end" ).datepicker ( {
      dateFormat: 'yy-mm-dd',
      "onSelect": function(date) {

      oTable.fnDraw();
      }
       } ).keyup( function () {
      oTable.fnDraw();
     } );

 });

.notice #{notice}

.container-fluid
 .row-fluid
  .span2
   %p
    %h3
     Date Filters
     %p
      %h4
       %p start
       %input.span8#datepicker-start
       %p end
       %input.span8#datepicker-end

  .span10

   %header.jumbotron.subhead
    %h1
     #{@project.name}
     %small #{@project.notes}

   %section#tasks
    .page-header
     %h2 Recorded Tasks

    %p
     %table.table.table-striped.table-bordered.table-condensed#taskTable
      %thead
       %tr
        %th.hidden Task Id
        %th.span2{:id=>"project_name"} Employee
        %th.span2{:id=>"task_name"} Task name
        %th.span2{:id=>"performed_on"} Completed on
        %th.span2{:id=>"notes"} Notes
        %th.span2{:id=>"hours"} Hours
      %tbody
       - @tasks.each do |task|
        %tr{:id=>task.id}
         %td.hidden= task.id
         %td.span2= task.user.name
         %td.span2= task.task_name
         %td.span2= task.performed_on
         %td.span2= task.notes
         %td.span2= task.hours


   %section#Totals
    .page-header
     / %h3 Total Hours
    %table.table.table-striped.table-bordered.table-condensed
     %thead
      %tr
       %th Total Hours
     %tbody
      %tr
       %td 16

 .page-footer
  = link_to 'Back', projects_path
